html, body {
    background-image: url(../images/fon1.jpg);
    color: darkviolet;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 55px;
}

.links > a {
    color: darkviolet;
    padding: 0 60px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
}

.m-b-md {
    margin-bottom: 30px;
}
.sidebar {
    background-color: rgba(255,255,255,0.45);
    margin-right: 5%;
    margin-left:5%;
}
.ramka{
    border: 2px solid black;
    display:inline-block;
    background-attachment: local;
    width: 100%;
    min-height: 100%;

}
.ava{
    border: 2px solid black;
    border-radius: 100px;
    height: 100px;
    width: 100px;
    margin-left: 20px;
    margin-top: 20px;
}

.ramka_stat{
    border: 2px solid black;
    display:inline-block;
    background-attachment: local;
    margin-left: 10%;
    width: 80%;
    height: 40%;
}
.pustota{
    height: 50%;
}
